<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/login" method="post">
    <input type="text" placeholder="username" name="username" required>
    <input type="text" placeholder="password" name="password" required>

    <button type="submit">Login</button>
    <button type="reset" class="cancelbtn">Cancel</button>
  </form>

  </body>
</html>
